a {
    line-height: 1px;
    display: inline-block;
    text-decoration: none;
    padding: auto;
    margin: auto;
}

#embedded-navbar {
  text-align : left;
}
#nav-tag {
  margin: 6px;
  text-align : right;
  font-family: 'Cinzel', serif; 
}

.nav {
  text-align: right;
}

body {
  
  background-color: #142D42;
  padding-top: 4.375em;
    
  
}

#content {
  margin-top: 3.125em;
  margin-right: 1.875em;
  text-align: auto;
  
  max-width: 125em;
  padding: .875em .875em .875em;
  margin: 0 auto 1.25em;
  background-color: #fff;
  border: .0625em solid #d6d6d6;

}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: auto; /*10px 5*/
  margin: 0 auto;  /*18px 0*/
  width: auto;
}

#about {
    width: 90%;
    height: 18.75em;
    border: .1875em solid green;
    padding: 7.8125em;
    margin: 3.75em 5em;
    border-radius: .9375em;
}

#portfolio {
    width: 90%;
    height: 500px;
    border: 3px solid red;
    padding: 125px;
    margin: 60px 80px 60px 80px;
    border-radius: 15px;
}
#contact {
    width: 90%;
    height: 500px;
    border: 3px solid blue;
    padding: 125px;
    margin: 60px 80px 60px 80px;
    border-radius: 15px;
}

.navbar a{
  min-height: 80px;
  font-size: 1.5em !important;
  font-family: 'Lobster';
}
.navbar-brand {
  padding: 0 15px; 
  height: 70px; 
  line-height: 80px;
}

.navbar-nav > li {
  font-size: 8px;
  padding: 6px;

  }

.navbar-collapse {
  text-align:center;
}

.navbar-nav {
    display:inline-block;
    float:none;
}


.dropdown-menu {
    font-size: 20px;
    padding: 6px;
  }


hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;

}
hr.style17:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 5px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}


hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

h1,h3 {
  color: white;
  font-family: 'Lobster', cursive;
  
}

#title {
  background-color: white;
}

.centerBlock {
  display: table;
  margin: 0 auto;
}

.jumbotron {
  background-color: #2E2D88;
  color: white;
  text-align: center; 
  font-size: -10px;
  margin-top: 60px; 
  padding-top: 6px;
  width: auto;

}

.page-header {
  background-color: #2E2D88;
  color: white;
  text-align: center; 

  margin-top: 60px; 
 
  width: auto;
  
  padding: 0.5em 0.6em;
  

}



.nav-tabs {
  margin-bottom: 0;
}

#nttLogo {
  height: 80px;
  width: 80px;
  padding: 3px;
}

#nttLogo2 {
  height: 60px;
  width: 60px;
  padding: 3px;
}

#websiteTitle {
  font-size: 3em;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  padding-left: 15px;
  color: white;
  
}


/* Carousel Styling */
.slide1 {
  background-image: url('http://wallpaper.zone/img/2879265.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide2 {
  background-image: url('http://cdn.wallpapersafari.com/1/21/MQO3xG.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide3 {
  background-image: url('http://ihdimages.com/wp-content/uploads/2014/11/landscape_sunset_mountain_background_wallpaper.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-caption h1 {
  font-size: 5.4em;
  font-family: 'Pacifico', cursive;
  padding-bottom: .4em;
}

.carousel-caption p {
  font-size: 2em;
}

#theCarousel {
    border: 2px solid;
    border-radius: 125px;
}

.navbar-fixed-top  {
     -webkit-backface-visibility: hidden;
}

#nav-tag ul li {
    
    list-style-type: none;
}


#nav-div {
  width: 100%;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Default small screen size */
    @media (min-width: 0px) {
        .navbar {
            display: none;
        }
        
    }
    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
        .navbar {
            display: inline;
        }
        
        #nav-div {
            display: none;
        }
        
        #collapse-navbar {
            display: none;
        }
        
        #another-navbar {
            display: inline;
            
        }
        
        #navbar-collapse-1 > ul > li > a {
            font-size: 1.0em;
            padding: auto;
            margin: auto;
            border: 1em;
            text-align: center;
            height: 3.2em;
        }
        
        
        #navbar-title-3 {
            display: inline-block;
            font-size: 1.2em;
            width: auto;
            float: left;
            margin-top: 0;
            margin-left: .8em;
            position: relative;
            
        }
        
     
   

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
       
      
      h1 {
          font-size: auto;
      }
    


    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }


